.header{
    background-color: #ccc;
}
.h2{
    color: #fff;
}
.articulo{
    background-color: #D2EAFF;
}
.h1{
    color: #C0392B;
}

.p{
    color: #D35400;
}

.footer{
    background-color: darkgoldenrod;
}